@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5DC      ;  /*#898888*/
    --foreground: #B8860B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-playfair), Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-allura);
}

p, input, textarea, select {
  font-family: 'Playwrite Danmark Loopet';
  font-weight: 400;
}

h1, h2, h3, .elegant-text {
  font-family: var(--font-playfair);
}